<header>
  <div class="page-links">
    <a class="page-link" href="{{ site.baseurl }}/">Home</a>
    {% for my_page in site.pages %}
      {% if my_page.title %}
      • <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
      {% endif %}
    {% endfor %}
    • <a class="page-link" href="https://keybase.io/ristohietal">Keybase</a>
    • <a class="page-link" href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>
    • <a class="page-link" href="https://github.com/{{ site.github_username }}">Github</a>
    • <a class="page-link" href="https://fi.linkedin.com/in/risto-hietala-8a44325">LinkedIn</a>
  </div>
</header>
